{% extends 'EBPretControleurBundle::layout.html.twig' %}
{% form_theme form 'EBPretControleurBundle:Form:error.html.twig' %}

{% block EBPretcontroleur_stylesheets %}
    {{ parent() }}
    <link src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.css') }}">
{% endblock %}

{% block EBPretcontroleur_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery.ui.datepicker-fr.js') }}"></script>
    <script type="text/javascript">
    window.onload = function (){
        $("#eb_pretcontroleurbundle_controleur_adresse_region").change(function() {
         
            var vendor = $("#eb_pretcontroleurbundle_controleur_adresse_region option:selected").val();
            var DATA = 'id=' + vendor;
            var path = Routing.generate('eb_pret_controleur_DepByRegion');
         
            $.ajax({
                url:  Routing.generate('eb_pret_controleur_DepByRegion', { 'regionId': vendor }),
                type: 'POST',
                dataType: 'json',
                data: DATA,
                success: function(data)
                {
                    $('#eb_pretcontroleurbundle_controleur_adresse_departement').find("option").remove();
                    $.each(data, function(cle, valeur){     
                        var item = valeur;
                        item = $.parseJSON(item);  
                    $('#eb_pretcontroleurbundle_controleur_adresse_departement').append(new Option(item.libelle, item.id));    
                    });
                },
                error : function(data,resultat, statut, erreur){
                    var message = 'Resultat "'
                    + resultat 
                    + '" statut: '
                    + statut + 'data ' + data;
                    console.log(message);
                }
            });
        }); 
    }

    $(function() {
        $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
        $( "#eb_pretcontroleurbundle_controleur_dateAgrement" ).datepicker( $.datepicker.regional[ "fr" ] );
    });

    </script>
{% endblock %}

{% block EBPretcontroleur_body %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>   
        </div>    
    </div>
   {{ form_start(form)}}
    <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i>completer le formulaire pour ajouter votre centre</h3>
        </div>
            <div class="panel-body"> 
                   <div class="form-group">
                                <label>Choisir le centre pour lequel vous voulez ajouter votre controleur </label>
                                {{ form_widget(form.centre, {'attr': {'class': 'form-control'}}) }} 
                   </div>
                   <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Nom </label>
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                                <label>Prénom </label>
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Expérience en tant que contrôleur (années)</label>
                                {{ form_widget(form.experience, {'attr': {'class': 'form-control'}}) }} 
                                {{ form_errors(form.experience) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Numéro d'agrement (en majuscules)</label>
                               {{ form_widget(form.numAgrement, {'attr': {'class': 'form-control'}}) }} 
                               {{ form_errors(form.numAgrement) }}
                            </div>
                            <div class="col-sm-6">
                               <label>Date d'agrement</label>
                              {{ form_widget(form.dateAgrement, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Attestation d'agrement</label>
                        {{ form_widget(form.AttestationAgrement, {'attr': {'class': 'form-control'}}) }} 
                    </div>        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Région</label>
                                {{ form_widget(form.adresse.region, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                                <label>Département</label>
                                {{ form_widget(form.adresse.departement, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Téléphone</label>
                              {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }} 
                              {{ form_errors(form.telephone) }}
                            </div>
                            <div class="col-sm-6">
                                <label>E-mail</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.email, {'attr': {'color': 'red'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Attestation formation 20H (en cours de validité)</label>
                        {{ form_widget(form.AttestationFormationVingtHeure, {'attr': {'class': 'form-control'}}) }} 
                    </div> 
                    <div class="form-group">
                        <label>Attestation des 300 contrôles</label>
                        {{ form_widget(form.AttestationTroisCentControle, {'attr': {'class': 'form-control'}}) }} 
                    </div> 
                    <div class="form-group">
                        <label>Attestation de l'accord signé par le contrôleur</label>
                        {{ form_widget(form.AttestationBonPourAccord, {'attr': {'class': 'form-control'}}) }} 
                    </div> 
                    <div class="form-group">
                        <label>Attestation d'audit du contrôleur N-1</label>
                        {{ form_widget(form.AttestationSupervision, {'attr': {'class': 'form-control'}}) }} 
                    </div> 
                    <div align="right">
                        <a href="{{ path('eb_pret_controleur_Controleur') }}">
                            <button class="btn-u btn-u-red" type="button">Précédent</button>
                        </a>
                            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn-u btn-u-red'}}) }}
                    </div>
                            {{ form_end(form) }}
            </div>   
                            {{ form_rest(form._token) }}
    </div>
{% endblock %}