{% extends 'EBPretControleurBundle::layout.html.twig' %}

{% block EBPretcontroleur_body %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>   
        </div>    
    </div>
   {{ form_start(form)}}
    <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
            {{ form_errors(form) }}
            <h3 class="panel-title"><i class="fa fa-tasks"></i>Modifier le formulaire pour mettre à jour votre controleur</h3>
        </div>
            <div class="panel-body"> 
                   <div class="form-group">
                                <label>Vous pouvez affecter un controleur à un autre de vos centres</label>
                                {{ form_widget(form.centre, {'attr': {'class': 'form-control'}}) }} 
                   </div>
                   <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Nom </label>
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                                <label>Prénom </label>
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Experience </label>
                                {{ form_widget(form.experience, {'attr': {'class': 'form-control'}}) }} 
                                {{ form_errors(form.experience) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Numéro d'agrement</label>
                               {{ form_widget(form.numAgrement, {'attr': {'class': 'form-control'}}) }} 
                                {{ form_errors(form.numAgrement) }}
                            </div>
                            <div class="col-sm-6">
                               <label>Date d'agrement</label>
                              {{ form_widget(form.dateAgrement, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <a rel="pulse-grow" href="{{ asset(controleur.AttestationAgrement.webPath) }}" download="AttestationAgrement.doc" class="btn btn-link">Attestation d'agrément
                                </a>
                                {{ form_widget(form.AttestationAgrement, {'attr': {'class': 'form-control'}}) }}  
                            </div>
                        </div>
                    </div>        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Region</label>
                                {{ form_widget(form.adresse.region, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                                <label>Departement</label>
                                {{ form_widget(form.adresse.departement, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                                <label>Adresse</label>
                                {{ form_widget(form.adresse.adresse, {'attr': {'class': 'form-control'}}) }} 
                    </div>
                    <div class="form-group">
                                <label>Complément d'adresse</label>
                                {{ form_widget(form.adresse.adresse2, {'attr': {'class': 'form-control'}}) }} 
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Code postal</label>
                                {{ form_widget(form.adresse.codePostal, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                                <label>Ville</label>
                                {{ form_widget(form.adresse.ville, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Téléphone</label>
                              {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }} 
                                {{ form_errors(form.telephone) }}
                            </div>
                            <div class="col-sm-6">
                                <label>E-mail</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.email, {'attr': {'color': 'red'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <a rel="pulse-grow" href="{{ asset(controleur.AttestationFormationVingtHeure.webPath) }}" 
                                download="AttestationFormationVingtHeure.doc" class="btn btn-link">Attestation formation 20H</a>
                                {{ form_widget(form.AttestationFormationVingtHeure, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div> 
                    <div class="form-group">
                       <div class="row">
                            <div class="col-sm-6">
                                <a rel="pulse-grow" href="{{ asset(controleur.AttestationTroisCentControle.webPath) }}" 
                                download="AttestationTroisCentControle.doc" class="btn btn-link">Attestation des 300 contrôles</a>
                                {{ form_widget(form.AttestationTroisCentControle, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <a rel="pulse-grow" href="{{ asset(controleur.AttestationBonPourAccord.webPath) }}" 
                                download="AttestationBonPourAccord.doc" class="btn btn-link">Attestation de l'accord signé par le contrôleur</a>
                                {{ form_widget(form.AttestationBonPourAccord, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div> 
                    <div align="right">
                            <button class="btn-u btn-u-blue" type="button">
                                <a href="{{ path('eb_pret_controleur_Controleur') }}">
                                <font color="white">Précedent</font>
                              </a>
                            </button>
                            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn-u btn-u-blue'}}) }}
                    </div>
                            {{ form_end(form) }}
            </div>   
                            {{ form_rest(form._token) }}
    </div>
{% endblock %}