{% extends 'EBPretControleurBundle::layout.html.twig' %}
{% form_theme form 'EBPretControleurBundle:Form:error.html.twig' %}

{% block EBPretcontroleur_stylesheets %}
    {{ parent() }}
    <link src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.css') }}">
{% endblock %}

{% block EBPretcontroleur_javascripts %}
    {{ parent() }}
        <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.js') }}"></script>
        <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery.ui.datepicker-fr.js') }}"></script>

        <script type="text/javascript">
        $("#eb_pretcontroleurbundle_edit_centre_adresse_region").change(function() {
         
            var vendor = $("#eb_pretcontroleurbundle_edit_centre_adresse_region option:selected").val();
            var DATA = 'id=' + vendor;
            var path = Routing.generate('eb_pret_controleur_DepByRegion');
         
            $.ajax({
                url:  Routing.generate('eb_pret_controleur_DepByRegion', { 'regionId': vendor }),
                type: 'POST',
                dataType: 'json',
                data: DATA,
                success: function(data)
                {
                    $('#eb_pretcontroleurbundle_edit_centre_adresse_departement').find("option").remove();
                    $.each(data, function(cle, valeur){     
                        var item = valeur;
                        item = $.parseJSON(item);  
                    $('#eb_pretcontroleurbundle_edit_centre_adresse_departement').append(new Option(item.libelle, item.id));    
                    });
                },
                error : function(data,resultat, statut, erreur){
                    var message = 'Resultat "'
                    + resultat 
                    + '" statut: '
                    + statut + 'data ' + data;
                    console.log(message);
                }
            });
        }); 

        $(function() {
        $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
        $( "#eb_pretcontroleurbundle_edit_centre_dateCreation" ).datepicker( $.datepicker.regional[ "fr" ] );
        $( "#eb_pretcontroleurbundle_edit_centre_dateAgrement" ).datepicker( $.datepicker.regional[ "fr" ] );
    });
    </script>
{% endblock %}




{% block EBPretcontroleur_body %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>   
        </div>    
    </div>
   {{ form_start(form)}}
    <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i>Completer le formulaire pour modifier les informations de votre centre</h3>
        </div>
            <div class="panel-body">
                {% if centre.reponse == true %}
                    {% if centre.statut == false %}
                     {% if centre.commentaire is not empty %}
                        <p style="color: red"> Le centre n'a pas été validé pour les causes suivantes : </br>
                         - {{ centre.commentaire }} </p>
                     {% endif %}
                    {% endif %}  
                {% endif %}       
            </div>  
            <div class="panel-body">  
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Nom du centre</label>
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                             <label>Date de création</label>
                               {{ form_widget(form.dateCreation, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-6"> 
                                <label>Numéro Siret</label>
                                {{ form_widget(form.siret, {'attr': {'class': 'form-control'}}) }}  
                                {{ form_errors(form.siret) }}
                            </div>
                        </div>    
                    </div>
                    <div class="form-group">
                     <div class="row">
                        <div class="col-sm-6">
                            <label>Numéro d'agrement</label>
                               {{ form_widget(form.numAgrement, {'attr': {'class': 'form-control'}}) }} 
                                {{ form_errors(form.numAgrement)}}
                        </div>
                        <div class="col-sm-6">
                            <label>Date d'agrement</label>
                            {{ form_widget(form.dateAgrement, {'attr': {'class': 'form-control'}}) }} 
                        </div>  
                    </div></br>
                    <div class="form-group">
                     <div class="row">
                        <div class="col-sm-6">
                            {% if centre.attestationAgrement.webPath is not defined %}
                            <a rel="pulse-grow" class="btn btn-link">Pas de fichier : Attestation d'agrément</a>
                            {% else %}
                            <a rel="pulse-grow" href="{{ asset(centre.attestationAgrement.webPath) }}" download="AttestationAgrement.{{ centre.attestationAgrement.url }}" class="btn btn-link">Attestation d'agrément
                            </a>
                            {% endif %}
                            {{ form_widget(form.attestationAgrement, {'attr': {'class': 'form-control'}}) }}   
                        </div>
                      </div>  
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Region</label>
                                {{ form_widget(form.adresse.region, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                                <label>Departement</label>
                                {{ form_widget(form.adresse.departement, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                                <label>Adresse</label>
                                {{ form_widget(form.adresse.adresse, {'attr': {'class': 'form-control'}}) }} 
                    </div>
                    <div class="form-group">
                                <label>Complément d'adresse</label>
                                {{ form_widget(form.adresse.adresse2, {'attr': {'class': 'form-control'}}) }} 
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Code postal</label>
                                {{ form_widget(form.adresse.codePostal, {'attr': {'class': 'form-control'}}) }} 
                                {{ form_errors(form.adresse.codePostal)}}
                            </div>    
                            <div class="col-sm-6">
                                <label>Ville</label>
                                {{ form_widget(form.adresse.ville, {'attr': {'class': 'form-control'}}) }} 
                            </div> 
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Téléphone</label>
                              {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }} 
                              {{ form_errors(form.telephone) }}
                            </div>
                            <div class="col-sm-6">
                                <label>E-mail</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>    
                    </div>
                    <div class="form-group">
                       <div class="row"> 
                            <div class="col-sm-6"></div>
                            <div align="right" class="col-sm-6">
                                <a href="{{ path('eb_pret_controleur_Centre') }}">
                                    <button class="btn-u btn-u-red" type="button">Précédent</button>
                                </a>
                                {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn-u btn-u-red'}}) }}
                            </div>
                        </div>
                    </div>
                            {{ form_end(form) }}
            </div>   
                            {{ form_rest(form._token) }}
    </div>
{% endblock %}

