{% extends 'EBPretControleurBundle::layoutAdmin.html.twig' %}

{% block EBPretcontroleur_stylesheets %}
    {{ parent() }}
            <link src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.css') }}">
{% endblock %}

{% block EBPretcontroleur_javascripts %}
    {{ parent() }}
  <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>

  <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery.ui.datepicker-fr.js') }}"></script>
    <script type="text/javascript">
    $(function() {
        $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
        $( "#eb_pretcontroleurbundle_abonnement_dateDebut" ).datepicker( $.datepicker.regional[ "fr" ] );
        $( "#eb_pretcontroleurbundle_abonnement_dateFin" ).datepicker( $.datepicker.regional[ "fr" ] );
        $( "#eb_pretcontroleurbundle_abonnement_datepaiement" ).datepicker( $.datepicker.regional[ "fr" ] );
    });

    </script>
{% endblock %}

{% block EBPretcontroleur_body %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>   
        </div>    
    </div>
   {{ form_start(form)}}
    <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i>completer le formulaire pour ajouter un abonnement</h3>
        </div>
            <div class="panel-body"> 
                   <div class="form-group">
                                <label>Choisir le centre pour lequel vous voulez ajouter un abonnement </label>
                                {{ form_widget(form.centre, {'attr': {'class': 'form-control'}}) }} 
                   </div>
                   <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Date début abonnement </label>
                                {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                                <label>Date fin abonnement </label>
                                {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Montant de l'abonnement </label>
                                {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                            <div class="col-sm-6">
                               <label>Date de paiement</label>
                              {{ form_widget(form.datepaiement, {'attr': {'class': 'form-control'}}) }} 
                            </div>
                        </div>
                    </div>
                    <div align="right">
                        <a href="{{ path('eb_pret_controleur_Abonnement') }}">
                            <button class="btn-u btn-u-red" type="button">Précédent</button>
                        </a>
                            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn-u btn-u-red'}}) }}
                    </div>
                            {{ form_end(form) }}
            </div>   
                            {{ form_rest(form._token) }}
    </div>
{% endblock %}