<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="fr"> <!--<![endif]-->  
<head>
        <title>{% block title %} Chercher, trouver un controleur prêt de chez vous sur controlisor {% endblock %}</title>
 
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/plugins/line-icons/line-icons.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/plugins/font-awesome/css/font-awesome.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/plugins/flexslider/flexslider.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/plugins/owl-carousel/owl-carousel/owl.carousel.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/plugins/layer-slider/layerslider/css/layerslider.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/css/theme-colors/default.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/css/custom.css') }}" type="text/css" />   

        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/css/headers/header-default.css') }}" type="text/css" />  
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/css/footers/footer-v1.css') }}" type="text/css" />  
        <link rel="stylesheet" href="{{ asset('bundles/ebpretcontroleur/plugins/animate.css') }}" type="text/css" />   

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        {% block stylesheets %}
 
        {% endblock %} 
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
</head> 
<body>
<div class="wrapper">    
    <!--=== Header ===-->    
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                     Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    {% else %}
                      <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('eb_pret_controleur_homepage') }}">
                        <img id="logo-header" style="width: 360px; height: 45px;" src="{{ asset('img/Controlisor.svg') }}" alt="Logo controlisor">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li><a href="{{ path('eb_pret_controleur_homepage') }}">Accueil</a></li>
                        <!-- End Home -->
                        <!-- Pages -->                       
                        <li><a href="{{ path('eb_pret_controleur_emprunter') }}">Rechercher</a></li>
                        <!--End Pages -->
                        <!-- Pages -->                        
                        {% if is_granted('ROLE_USER') %}   
                        <li><a href="{{ path('eb_pret_controleur_Gestion_TableauBord') }}">Gestion</a></li>
                        {% endif %}
                        <!-- End Pages -->
                        <!-- Pages -->   
                        {% if is_granted('ROLE_ADMIN') %}                     
                        <li><a href="{{ path('eb_pret_controleur_Administration_TableauBord') }}">Administration</a></li>
                        {% endif %}
                        <!-- End Pages -->
                        <!-- Contacts -->
                        <li><a href="{{ path('eb_pret_controleur_contact') }}">Nous contacter</a></li>                  
                        <!-- End Contacts -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===--> 
    <!--=== Content Part ===-->
    {% block body %}
         

    {% endblock %}   
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                       <!-- <a href="index.html"><img id="logo-footer" class="footer-logo" src="{{ asset('img/Controlisor.svg') }}" alt=""></a>-->
                        <p>Controlisor le premier site qui vous permet de trouver et de prêter un contrôleur près de votre centre.</p>
                        <p>Metter à disposition un contrôleur sur Controlisor.</p>    
                    </div><!--/col-md-3-->
                    <!-- End About -->                

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact</h2></div>                         
                        <address class="md-margin-bottom-40">
                            Téléphone : 06.48.33.46.91<br />
                            Email: <a href="mailto:info@controlisor.fr" style="color: white;">info@controlisor.fr</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 &copy; Tous droits réservés.
                           <a href="#" style="color: white;">Privacy Policy</a> | <a href="#" style="color: white;">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

  <script src="{{ asset('bundles/ebpretcontroleur/plugins/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/back-to-top.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/layer-slider/layerslider/js/greensock.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/layer-slider/layerslider/js/layerslider.transitions.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js') }}"></script>
 
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/smoothScroll.js') }}"></script>
  
  <script src="{{ asset('bundles/ebpretcontroleur/js/custom.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/js/app.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/layer-slider.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/owl-recent-works.js') }}"></script>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

  {% block javascripts %}
         

  {% endblock %}  

  <script type="text/javascript"> 
            jQuery(document).ready(function() {
            App.init();
            App.initSliders();
            LayerSlider.initLayerSlider();   
            OwlRecentWorks.initOwlRecentWorksV2();
             });
  </script>

  <!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
  xs<![endif]-->
</body>
</html> 
