{% extends 'EBPretControleurBundle::layout.html.twig' %}

{% block EBPretcontroleur_stylesheets %}
    {{ parent() }}
            <link src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.css') }}">
{% endblock %}

{% block EBPretcontroleur_javascripts %}
    {{ parent() }}
  <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery-ui-1.11.4.custom/jquery-ui.js') }}"></script>
  
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js') }}"></script>
  <script src="{{ asset('bundles/ebpretcontroleur/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>

  <script src="{{ asset('bundles/ebpretcontroleur/js/plugins/jquery.ui.datepicker-fr.js') }}"></script>
    <script type="text/javascript">
    $(function() {
        $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
        $( "#eb_pretcontroleurbundle_disponibilite_date" ).datepicker( $.datepicker.regional[ "fr" ] );
    });

    </script>
{% endblock %}

{% block EBPretcontroleur_body %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>   
        </div>    
    </div>
   {{ form_start(form)}}
    <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i>Modifier la date pour votre contrôleur</h3>
        </div>
        <div class="panel-body">  
            <div class="form-group">
                <label>Saisir une nouvelle date</label>
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }} 
            </div>
                {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn-u btn-u-red'}}) }}
                {{ form_end(form) }}
            </div>   
                {{ form_rest(form._token) }}
    </div>
{% endblock %}