{% extends 'EBPretControleurBundle::layout.html.twig' %}

{% block EBPretcontroleur_body %}
                   <div class="panel panel-blue margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Liste des dates disponibles </h3>
                    </div>
                    <div class="panel-body">
                        <p>liste</p>
                    </div>                                      
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Date reservé</th>
                                <th>Centre emprunteur</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dispo in listeDispo %}
                            <tr>
                            <td>{{ dispo.date|date('d/m/Y')  }}</td>
                            <td>
                                {% if dispo.pris == false %}
                                <span class="label label-info">Disponible</span>
                                {% else %}
                                <span class="label label-success">Reservé</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if dispo.centre  is empty %}
                                    Non reservée 
                                {% else %}
                                  {{ dispo.centre.nom }}
                                {% endif %}
                            </td>
                            <td>  
                                <a href="{{ path('eb_pret_controleur_EditDisponibilite', {'idDisponibilite': dispo.id}) }}">
                                    <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Modifier</button>
                                </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ path('eb_pret_controleur_Controleur') }}">
                    <button class="btn-u btn-u-red" type="button">Précédent</button>
                </a> 
                <a href="{{ path('eb_pret_controleur_AjoutDisponibilite', {'idControleur' : idControleur }) }}">
                    <button class="btn-u"><i class="fa fa-pencil"></i> Ajouter une date</button>
                </a>                
</div>    
{% endblock %}