{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
 <div class="container content" align="centre">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            {% if estAbonne %} 
                <div class="panel panel-blue margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Liste des contrôleurs disponibles </h3>
                    </div>
                    <div class="panel-body">
                        <p>Légende : </p>
                        <table>
                            <tr>
                                <td><span class="label label-info">Disponible</span></td><td>Le contrôleur est disponible.</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">En cours de validation</span></td><td>Le contrôleur est réservé, son centre doit valider ou non la réservation.</td>
                            </tr>
                        </table>
                    </div>                                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Centre</th>
                                <th>Controleur</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dispo in listeDispo %}
                            <tr>
                                <td>{{ dispo.date|date('d/m/Y')  }}</td>
                                <td>{{ dispo.controleur.centre.nom  }} </td>
                                <td>{{ dispo.controleur.nom  }} {{dispo.controleur.prenom}}</td>
                                <td>
                                    {% if dispo.pris == false %}
                                       <span class="label label-info">Disponible</span>
                                    {% else %}
                                      <span class="label label-success">En cours de validation</span>
                                    {% endif %}
                                </td>
                                <td>
                                     {% if dispo.pris == false %}
                                       <a href="{{ path('eb_pret_controleur_DetailDisponibilite', {'idDisponibilite': dispo.id}) }}">
                                        <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Emprunter</button>
                                       </a>
                                    {% else %}
                                        <a href="#">
                                         <button class="btn btn-warning btn-xs disabled" disabled="disabled"><i class="fa fa-pencil"></i> Emprunter</button>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if (nbDispo > 4) %}    
                        {% include 'EBPretControleurBundle:Pagination:pagination.html.twig' %} 
                    {% endif %} 
                </div> 
            {% else %}
                    <div class="alert alert-info fade in">
                        <h4>Vous n'êtes pas encore abonné !</h4></br>
                        <p>Sur ce département il y'a actuellement {{ nbDispo}} contrôleur(s) disponible.</p>
                        <p></br>
                            <a class="btn-u btn-u-xs btn-u-red" href="{{ path('eb_pret_controleur_emprunter') }}">Précédent</a> 
                            <a class="btn-u btn-u-xs btn-u-red" href="{{ path('fos_user_registration_register') }}">Pour vous abonner</a>
                        </p>
                    </div>
            {% endif %}
        </div> 
    </div>
</div>
{% endblock %}