{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var tabid = [];
    function toggle_bg(id, nomControleur, centre){
        //sur le onchange de la checkbox
        $("#check_"+id).change(
            function(){
                var trouve = false;
                if(this.checked){
                    for(var i=0;i<tabid.length;i++)
                        if(tabid[i]===id) trouve = true;

                    if(!trouve){
                        ligne = new Array;
                        ligne["id"]=id;
                        ligne["nomControleur"]=nomControleur;
                        ligne["centre"]=centre;
                        tabid.push(ligne);
                    }

                }else{
                    for(var i=0;i<tabid.length;i++)
                        if(tabid[i]===id) tabid.splice( i, 1 );;
                    //alert("non checked");
                } 
            }
        );
    }

    function envoieListeDate(){
        location.href=Routing.generate('eb_pret_controleur_ListeTabId', {'lstId':tabid});  
    }
</script>
{% endblock %}

{% block body %}
 <div class="container content" align="centre">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            {% if estAbonne %} 
                <div class="panel panel-green margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Liste des contrôleurs disponibles </h3>
                    </div>
                    <div class="panel-body">
                        <p>Légende : </p>
                        <div class="table-responsive">                                    
                        <table class="table">
                            <tr>
                                <td><span class="label label-info">Disponible</span></td><td>Le contrôleur est disponible.</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">En cours de validation</span></td><td>Le contrôleur est réservé, son centre d'affiliation doit valider ou non la réservation.</td>
                            </tr>
                        </table>
                        </div>
                    </div> 
                    <div class="table-responsive">                                      
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Controleur</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                                <th title="nombre de jours restant">Jours</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody> 
                        {% for dispo in listeDispo %}
                            <tr>
                                <td>{{ dispo.nom  }} {{dispo.prenom}}</td>
                                <td>{{ dispo.date|date('d/m/Y')  }}</td>
                                <td>{{ dispo.datefin|date('d/m/Y')  }}</td>
                                <td title="nombre de jours restant">{{ dispo.nbJourDispo  }} </td>
                                <td>
                                       <a href="{{ path('eb_pret_controleur_DetailDisponibiliteByControleur', {'idControleur': dispo.idControleur, 'nbJoursDispo': dispo.nbJourDispo}) }}">
                                        <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>date(s)</button>
                                       </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    {% if (nbDispo > 4) %}    
                        {% include 'EBPretControleurBundle:Pagination:pagination.html.twig' %} 
                    {% endif %} 
                </div> 
            {% else %}
                    <div class="alert alert-info fade in">
                        <h4>Vous n'êtes pas encore abonné !</h4></br>
                        <p>Sur ce département il y'a actuellement {{ nbDispo}} contrôleur(s) disponible.</p>
                        <p></br>
                            <a class="btn-u btn-u-xs btn-u-default" href="{{ path('eb_pret_controleur_emprunter') }}">Précédent</a> 
                            <a class="btn-u btn-u-xs btn-u-dark" href="{{ path('fos_user_registration_register') }}">Pour vous abonner</a>
                        </p>
                    </div>
            {% endif %}
        </div> 
    </div>
</div>
{% endblock %}