{% extends '::layout.html.twig' %}

{% block body %}
 <div class="container content" align="centre">
    <div class="row">
           <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
   {{ form_start(form)}}
    <div class="panel panel-blue margin-bottom-40">
            <div class="panel-body">  
                <label>
                  {{ disponibilite.controleur.nom }} {{ disponibilite.controleur.prenom }} sera disponible le {{ disponibilite.date|date('d/m/Y') }}.</br>
                  Ce contrôleur possède {{ disponibilite.controleur.experience }} d'année(s) d'expérience.</br>
                  Il habite au : {{ disponibilite.controleur.adresse.adresse }}, {{ disponibilite.controleur.adresse.codePostal }} à 
                  {{ disponibilite.controleur.adresse.ville }}</br></br>
                </label>
                    <div class="form-group">
                        <label>Pour quel centre voulez vous affecter le controleur ? </label>
                        {{ form_widget(form.centre, {'attr': {'class': 'form-control'}}) }} 
                   </div>
                     <div class="form-group">
                        <label>Souhaitez-vous emprunter ce controleur ?</label>
                        {{ form_widget(form.pris) }} 
                    </div>
                      <a href="{{ path('eb_pret_controleur_ListeDisponibilite', {'departement': departement} ) }}">
                        <button class="btn-u btn-u-blue" type="button">Précédent</button>
                      </a>      
                    {{ form_widget(form.save, {'attr': {'class': 'btn-u btn-u-blue'}}) }}
                    {{ form_end(form) }}
            </div>   
            {{ form_rest(form._token) }}
    </div>
</div>
</div>
</div>
{% endblock %}