{% extends 'EBPretControleurBundle::layoutAdmin.html.twig' %}

{% block EBPretcontroleur_body %}
                <div class="panel panel-blue margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i>Liste des emprunts terminés.</h3>
                    </div>
                    <div class="panel-body">
                        <p>Légende : </p>
                        <div class="table-responsive"> 
                        <table>
                          <tr>
                            <td><button class="btn btn-warning btn-xs">
                                <i class="fa fa-pencil"></i> 
                                  <font color="white">Répondre</font>
                                  </button>
                            </td>
                            <td>
                                Accepter ou refuser la demande d'un centre pour un de vos controleur.
                            </td>
                          </tr>
                        </table>
                    </div>
                    </div>  
                    <div class="table-responsive">                                     
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Centre emprunteur</th>
                                <th>Controleur emprunteur</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for demande in listeDemandes %}
                            <tr>
                            <td>{{ demande.centre.nom }} ({{demande.centre.user.Username}})</td>
                            <td>{{ demande.controleur.nom }} {{ demande.controleur.prenom }}</td>
                            <td>{{ demande.date|date('d/m/Y') }}</td>
                            <td>
                              <a href="{{ path('eb_pret_controleur_ReponseDemandeDisponibilite', {'idDisponibilite': demande.id}) }}">
                                <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Répondre</button>
                              </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
{% endblock %}