{% extends 'EBPretControleurBundle::layoutAdmin.html.twig' %}

{% block EBPretcontroleur_body %}
                <div class="panel panel-blue margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Liste de tous les contrôleurs du centre {{ centre.nom }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>Légende : </p>
                        <div class="table-responsive"> 
                        <table>
                          <tr>
                            <td><button class="btn btn-warning btn-xs">
                                <i class="fa fa-pencil"></i> 
                                  <font color="white">Valider</font>
                                  </button></td>
                            <td>
                                Valider le profil du controleur.
                            </td>
                          </tr>
                        </table>
                        </div>
                    </div>
                    <div class="table-responsive">                                       
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>N° agrement</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for controleur in listeControleurs %}
                            <tr>
                            <td>{{ controleur.nom }} {{ controleur.prenom }}</td>
                            <td>{{ controleur.numAgrement }}</td>
                            <td> 
                                {% if controleur.statut == false %}
                                        <span class="label label-danger">non validé</span>
                                {% else %}
                                        <span class="label label-success">Validé</span>
                                {% endif %}
                            </td>
                            <td>
                              <a href="{{ path('eb_pret_controleur_Administration_EditControleur', {'id': controleur.id}) }}">
                                <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Valider</button>
                              </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="row"> 
                            <div align="left" class="col-sm-6">
                                <a class="btn-u btn-u-red" href="{{ path('eb_pret_controleur_Administration_Centre') }}">Précédent</a> 
                            </div>
                </div>
{% endblock %}