{% extends '::layout.html.twig' %}

{% block body %}

    <h1 class="pull-left"></h1>

    <!--=== Slider ===-->
    <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto;">
        <!-- First slide -->
        <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
            <img src="{{ asset('img/sliders/layer/bg_slider_1.jpg') }}" class="ls-bg" alt="Slide background"/>
            <!--
            <img class="ls-l" src="{{ asset('img/mockup/man-colors.png') }}" style="top: 85%; left: 44%;" 
            data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />
            
            <img src="{{ asset('img/mockup/woman.png') }}" alt="Slider image" class="ls-s-1" style=" top:62px; left: 29%;" 
            data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">
            -->
        </div>

        <!--Second Slide-->
        <div class="ls-slide" data-ls="slidedelay:13000;transition2d:93;">
            <img src="{{ asset('img/sliders/layer/bg_slider_2.jpg') }}" class="ls-bg" alt="Slide background">

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:70px; left: 190px; slidedirection : left; slideoutdirection : top; durationin : 2000; durationout : 2000; "></i> 

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 220px; slidedirection : top; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
                Accroissement d'activité ? Départ en congés ? Maladie?
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:120px; left: 190px; slidedirection : left; slideoutdirection : top; durationin : 4000; durationout : 5500; "></i> 

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 220px; slidedirection : top; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
                Besoin d'un controleur ? 
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:170px; left: 190px; slidedirection : left; slideoutdirection : top; durationin : 3000; durationout : 4500; "></i> 

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 220px; slidedirection : top; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
                Avec CONTROLISOR vous trouvez votre contôleur à proximité
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:220px; left: 190px; slidedirection : left; slideoutdirection : top; durationin : 4000; durationout : 4000; "></i> 

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 220px; slidedirection : top; slideoutdirection : bottom; durationin : 4000; durationout : 4000; ">
               En toute sécurité et confidentialité
            </span>

            <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:270px; left: 190px; slidedirection : left; slideoutdirection : top; durationin : 5000; durationout : 5000; "></i> 

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:270px; left: 220px; slidedirection : top; slideoutdirection : bottom; durationin : 5000; durationout : 5000; ">
                CONTROLISOR votre solution contrôle
            </span>

        </div>   

        <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
            <img src="{{ asset('img/sliders/layer/bg_slider_3.jpg') }}" class="ls-bg" alt="Slide background"/>
    
        </div>             

        <!--End Third Slide-->
    </div><!--/layer_slider-->
    <!--=== End Slider ===-->
        <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Bienvenue sur Controlisor le premier site qui vous permet de trouver et de prêter un contrôleur près de votre centre.</span>
                    <p>Vous avez un surcroît d’activité, besoin d’un contrôleur ne cherchez plus Controlisor est là pour vous aider.</p>
                    <p>Votre centre ferme pour des vacances bien méritées, vous avez un contrôleur de disponible, n’hésitez plus prêtez-le à un centre voisin…</p>
                </div>  
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->
    <div class="container content">
        <div class="margin-bottom-10"></div>
        <!-- Service Blocks -->
        <h3>Mettre à disposition un contrôleur sur Controlisor , en 3 étapes c’est sécurisé, rapide et simple !</h3></br>
        <div class="row content-boxes-v2 margin-bottom-30">
            <div class="col-md-4 md-margin-bottom-30">                
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-rocket"></i>
                        <span>1ère étape</span>
                    </a>
                </h2>
                <p class="text-justify">Vous inscrivez votre centre sur le site en remplissant notre formulaire. </br>Notre équipe valide votre inscription en moins de 6h.</p>
            </div>
            <div class="col-md-4 md-margin-bottom-30">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-rocket"></i>
                        <span>2ème étape</span>
                    </a>
                </h2>
                <p class="text-justify">Vous cherchez un contrôleur sur controlisor.</br> Vous pouvez aussi mettre vos contrôleurs à disposition.</p>
            </div>
            <div class="col-md-4">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-rocket"></i>
                        <span>3ème étape</span>
                    </a>
                </h2>
                <p class="text-justify">Vous trouvez votre solution sur controlisor et le tour est joué !</p>
            </div>
        </div> 
    </div>


{% endblock %}