{% extends 'EBUserBundle::layout.html.twig' %}
{% form_theme form 'EBPretControleurBundle:Form:error.html.twig' %}

{% block fos_user_content %} 
	<div class="container content">
   	  <div class="row">
         <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    			<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="reg-page">
    				<div class="reg-header">
                        <h2>Créer votre compte</h2>
                        <p>Si vous en posséder un, cliquer <a href="{{ path('fos_user_security_login') }}" style="color: #2512aa;">ici</a> pour vous connecter.</p>  
                    </div>    
                    <h2>Informations vous concernant </h2>
                    {{ form_errors(form) }}           
                    {{ form_errors(form.nom) }}
            		{{ form_label(form.nom) }}
            		{{ form_widget(form.nom, {'attr': {'class': 'form-control margin-bottom-20'}}) }}

            		{{ form_errors(form) }}           
                    {{ form_errors(form.prenom) }}
            		{{ form_label(form.prenom) }}
            		{{ form_widget(form.prenom, {'attr': {'class': 'form-control margin-bottom-20'}}) }}

            		{{ form_errors(form) }}           
                    {{ form_errors(form.numAgrement) }}
            		{{ form_label(form.numAgrement) }}
            		{{ form_widget(form.numAgrement, {'attr': {'class': 'form-control margin-bottom-20'}}) }}

            		{{ form_errors(form) }}           
                    {{ form_errors(form.telephone) }}
            		{{ form_label(form.telephone) }}
            		{{ form_widget(form.telephone, {'attr': {'class': 'form-control margin-bottom-20'}}) }}

                    <h2>Informations concernant votre compte</h2>
                    {{ form_errors(form) }}           
                    {{ form_errors(form.username) }}
            		{{ form_label(form.username) }}
            		{{ form_widget(form.username, {'attr': {'class': 'form-control margin-bottom-20'}}) }}

	                {{ form_errors(form.email) }}
	                {{ form_label(form.email) }}
	                {{ form_widget(form.email, {'attr': {'class': 'form-control margin-bottom-20'}}) }}

	                <div class="row">
                      <div class="col-sm-6">
	                	 {{ form_errors(form.plainPassword.first) }}
	                	 {{ form_label(form.plainPassword.first) }}
	                	 {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control margin-bottom-20'}}) }}
					           </div>
                      <div class="col-sm-6">
	                 	{{ form_errors(form.plainPassword.second) }}
	                 	{{ form_label(form.plainPassword.second) }}
	                 	{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control margin-bottom-20'}}) }}
	 				        </div>
	                 {{ form_rest(form) }}
                 
                 <div class="row">
                      <div class="col-lg-6 checkbox">
                      </div>
                      <div class="col-lg-6 text-right">
                    	<input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn-u"/>
                	</div>
                 </div>
				</form>
        </div>
      </div>
    </div>
        
{% endblock fos_user_content %}
