{% extends '::layout.html.twig' %}
{% block stylesheets %}
      {{ parent() }}
      {% block EBPretcontroleur_stylesheets %}
                 
     {% endblock %}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
      {% block EBPretcontroleur_javascripts %}
                 
     {% endblock %}
{% endblock %}

{% block body %}
 <div class="container content">
        <div class="row">
            <!-- Begin Sidebar Menu -->
            {% if is_granted('ROLE_USER') %}
            <div class="col-md-3">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- Typography -->
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#Gestion-centre">Centres</a>
                        <ul id="Gestion-centre" class="collapse">
                            <li>
                                <a href="{{ path('eb_pret_controleur_Centre') }}">Liste de vos centre</a>
                            </li>
                            <li>
                                <a href="{{ path('eb_pret_controleur_AjoutCentre') }}">Ajouter un centre</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Typography -->
                     <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#Gestion-controleur">Controleurs</a>
                        <ul id="Gestion-controleur" class="collapse">
                            <li>
                                <a href="{{ path('eb_pret_controleur_Controleur') }}"> Listes de vos controleur</a>
                            </li>
                            <li>                          
                                <a href="{{ path('eb_pret_controleur_AjoutControleur') }}">Ajouter un controleur</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#Gestion-disponibilite">Disponibilité</a>
                        <ul id="Gestion-disponibilite" class="collapse">
                            <li>                          
                                <a href="{{ path('eb_pret_disponibilite_ListeControleur') }}"> Ajouter des disponibilités</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#Gestion-emprunt">Gestion emprunt</a>
                        <ul id="Gestion-emprunt" class="collapse">
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="{{ path('eb_pret_controleur_DemandeRecuControleur') }}"></i> Demande reçu</a>
                            </li> 
                            <li>                          
                                <a href="{{ path('eb_pret_controleur_DemandeNonValideControleur') }}"></i> Réservations (en cours) non validées</a>
                            </li> 
                            <li>                          
                                <a href="{{ path('eb_pret_controleur_DemandeValideControleur') }}"></i> Réservations (en cours) validées</a>
                            </li> 
                            <li>                          
                                <a href="{{ path('eb_pret_controleur_ControleurReserveControleur') }}"></i> Récapitulatif </a>
                            </li> 
                        </ul>
                    </li>
                    <!-- end controleurs-->
                </ul>
            </div> 
            {% endif %}    
            <div class="col-md-9">
                <div class="tag-box tag-box-v3 tag-text-space margin-bottom-40">         
                  {% block EBPretcontroleur_body %}
                  {% endblock %}
                </div>   
            </div>
        </div>       
 </div>  
{% endblock %}