{% extends '::layout.html.twig' %}
{% block stylesheets %}
      {{ parent() }}
      {% block EBPretcontroleur_stylesheets %}
                 
     {% endblock %}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
      {% block EBPretcontroleur_javascripts %}
                 
     {% endblock %}
{% endblock %}

{% block body %}
 <div class="container content">
        <div class="row">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-3">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- Typography -->
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-typography">Centres</a>
                        <ul id="collapse-typography" class="collapse">
                            <li><a href="{{ path('eb_pret_controleur_Administration') }}">Liste des centres à valider</a></li>
                            <li>
                                <a href="{{ path('eb_pret_controleur_Administration_Centre') }}">Liste de tous les centres validés</a>
                            </li>
                        </ul>
                    </li>
                   
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-Abonnements">Abonnements</a>
                        <ul id="collapse-Abonnements" class="collapse">
                            <li><a href="{{ path('eb_pret_controleur_Abonnement') }}">Liste de tous les abonnements</a></li>
                            <li>
                                <a href="{{ path('eb_pret_controleur_AjoutAbonnement') }}">Ajouter un abonnement</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-buttons">Suivi</a>
                        <ul id="collapse-buttons" class="collapse">
                            <li>                          
                                <a href="{{ path('eb_pret_controleur_Administration_EmpruntTraite') }}">Liste des emprunts terminés</a>
                            </li>
                            <li>                          
                                <a href="{{ path('eb_pret_controleur_Administration_EmpruntAVenir') }}">Liste des emprunts à venir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> 
            {% endif %}    
            <div class="col-md-9">
                <div class="tag-box tag-box-v3 tag-text-space margin-bottom-40">         
                  {% block EBPretcontroleur_body %}
                  {% endblock %}
                </div>   
            </div>
        </div>       
 </div>  
{% endblock %}